@model LeanworkRecursosHumano.Core.DTOs.UserGithubDTO
@{
    ViewData["Title"] = "Informações do usuário";
}

<h3>Informações do usuário</h3>

<div cite="d-flex">
    <label>
        Usuários GitHub
    </label>
    /
    <label> Informações do usuário</label>
</div>

<div>
    <a class="btn btn-primary" href="/UsersGithub/Index">
        Voltar
    </a>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Identificação</label>
                <p title="@Model.Id" id="userId" class="form-control">@Model.Id</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Login</label>
                <p title="@Model.Login" id="userLogin" class="form-control">@Model.Login</p>
            </div>
            <div class="mb-3">
                <label class="form-label">URL do Perfil</label>
                <a title="Visitar Perfil" href="@Model.Html_url" target="_blank" id="userUrlRepository" class="form-control">@Model.Html_url</a>
            </div>
            <div class="mb-3">
                <label class="form-label">Data de Cadastro</label>
                <p title="@Model.CreatredAtFormatted" class="form-control">@Model.CreatredAtFormatted</p>
            </div>
        </div>
    </div>
</div>

<hr />

<h3>Repositórios</h3>

<div class="d-flex justify-content-end">
    <div class="input-group mt-2 w-25">
        <input type="text" id="records-filter" class="form-control" placeholder="Pesquisar...">
    </div>
</div>

<div>
    <table id="table-records" class="table table-bordered mt-3">
        <thead>
            <tr>
                <th width="10">Identificação</th>
                <th>Nome</th>
                <th width="300">URL repositório</th>
            </tr>
        </thead>
        <tbody id="usersRepos-table-body"></tbody>
    </table>
</div>
<!--SPINNER DE CARREGAMENTO DE REGISTROS-->
<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary d-flex " role="status">
    </div>
</div>

<div id="pagination-container" class="pagination mb-5"></div>

<script src="~/js/UsersGithub/userdetails.js"></script>